body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* ONE */
.one{
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: #7086e8;
    display: flex;
    justify-content: space-between;
}

.one ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu{
    width: 70%;
    align-content: center;
}

.one ul li{
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    position: relative;
    cursor: pointer;
}

.one ul a{
    text-decoration: none;
    color: white;
}

/* .one ul li:hover{
    text-decoration: underline;
    color: black;
} */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 34px;
    background-color: #7086e8;
    z-index: 1;
    width: 500px;
}

.dropdown-content a {
    padding: 14px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* TWO */
.two{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two-left {
    flex-grow: 1; /* Make the left section (logo) take up remaining space */
}

.two-right {
    flex-grow: 0;
    width: auto;
}

.two-right ul{
    display: flex;
    justify-content: space-between;
    gap: 15px; /* Add spacing between items */
}

.two-right ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* THREE */
.three{
    width: 100%;
    height: 400px;
    background: url('https://www.wcu.edu.az/resources/css/img/slider3_new.webp') center center;
    background-size: cover;
}

/* FOUR */
.four{
    width: 100%;
}

.four .first{
    display: flex;
    justify-content: center;
}

.four .first ul{
    width: 75%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 0;
    margin: -40px 0 0 0;
}

.four .first ul li{
    width: 24%;
    line-height: 100px;
    box-sizing: border-box;
    list-style: none;
    background-color: #7086e8;
    text-align: center;
    font-size: 1.2vw;
}

.four .first ul li a{
    color: white;
    font-weight: bold;
}

.four .second{
    display: flex;
    justify-content: center;
}

.four .second ul{
    width: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 0;
    margin: 80px 0;
}

.four .second ul li{
    list-style-type: none;
    width: 15%;
    border: 2px solid rgb(176, 173, 173);
    box-sizing: border-box;
}

.four .second ul li img{
    width: 100%;
}

/* FIVE 1 */
.five{
    background-color: #4056A1;
    width: 100%;
}

.five .first{
    width: 95%;
    margin: 0 auto;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: flex-start;
    color: #FAFAFA;
}

.news{
    margin: 0 0 0 70px;
    padding: 0;
    width: 10%;
    transform: rotate(90deg);
    transform-origin: left top;
    display: inline-block;
    font-size: 4vw;
}

.five .first ul{
    margin: 0 0 0 -100px;
    padding: 0;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.five .first ul li{
    list-style-type: none;
    width: 30%;
}

/* FIVE 2 */
.five .second{
    width: 80%;
    font-size: 3vw;
    color: white;
    margin: 0 auto;
}

/* FIVE 3 */
.five .third{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 200px;
    font-size: 2vw;
    color: white;
}

.five .right{
    margin-right: 20%;
}

.five .right button{
    background-color: #7086e8;
    width: 300px;
    height: 80px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.5vw;
}

/* SIX */
.six{
    position: relative;
    z-index: 1;
    /*color: rgb(29, 12, 154);*/
    border: 1px solid rgb(255, 255, 255);
    height: 250px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.six::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://media.istockphoto.com/id/511061090/photo/business-office-building-in-london-england.jpg?s=612x612&w=0&k=20&c=nYAn4JKoCqO1hMTjZiND1PAIWoABuy1BwH1MhaEoG6w=);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.six h1{
    font-size: 5vw;
    font-weight: 300;
}

/* SEVEN */
.seven{
    color: white;
    background-color: #4056A1;
    width: 100%;
    box-sizing: border-box;
    padding: 70px;
    display: flex;
    justify-content: space-around;
}

h1{
    margin: 0;
    padding: 0;
}

.seven .LEFT, .right, .center{
    width: 30%;
}

audio{
    height: 28px;
}

.input-group{
    padding: 50px 0;
    display: flex;
    height: 50px;
}

.input-group input::placeholder{
    color: white;
    font-size: 1.2vw;
}

box{
    display: none;
}

.box{
    display: none;
    position: fixed;
    right: 0;
    bottom: 150px;
    padding: 20px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;

}


.btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #6678D0;
    color: whiite;
    border: none;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.mail{
    height: 600px;
    width: 90%;
    margin-left: 9.9%;
    border-left: 1px solid rgba(69, 69, 69, 0.263);
}

.mail .first{
    line-height: 100px;
    border-bottom: 1px solid rgba(69, 69, 69, 0.263);
    padding-left: 30px;
}

.mail .second{
    position: relative;
    padding: 40px;
}

.mail .second h1{
    font-size: 2.5vw;
}

.mail .second img{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40%;
}

.mail .second input{
    background-color: #F2F4FF;
    border: none;
    margin: 25px 25px 15px 0;
    width: 40%;
    height: 55px;
    padding: 10px;
    box-sizing: border-box;
}

.second button{
    margin-top: 20px;
    height: 60px;
    width: 150px;
    background-color: #6678D0;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
}